.btnMenu{
    -fx-border-color: transparent;
}

.btnMenu:hover{
    -fx-background-color: #393939;

    -fx-border-width: 1px 1px 3px 3px;
}

.btnMenuBar:hover{
    -fx-background-color: #393939;


}


